/* Color Palette */
:root {
  --primary-color: #1574C4; /* Blue */
  --success-color: #35CE8D; /* Green */
  --light-color: #FFFFFF; /* White */
  --secondary-color: #928779; /* Grey */
  --dark-color: #00171F; /* Dark Blue */
}

/* Specialist Card Styles */
.specialist-card {
  background-color: var(--light-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.specialist-name {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.specialty-select {
  border: 1px solid var(--primary-color);
  color: var(--dark-color);
}

/* Specialist Calendar Styles */
.specialist-calendar {
  width: 250px; /* Adjust width as necessary */
  height: 250px; /* Adjust height as necessary */
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
}

.rbc-calendar {
  font-size: 12px; /* Adjust font size for better fit */
}

.rbc-toolbar {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 5px;
}

.rbc-toolbar button {
  background-color: var(--light-color);
  color: var(--primary-color);
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 5px;
}

.rbc-toolbar button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.rbc-event {
  background-color: var(--success-color);
  border: none;
  color: var(--light-color);
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}

.rbc-event-booked {
  background-color: var(--secondary-color);
  border: none;
  color: var(--light-color);
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}
