.footer {
    background-color: #00171F; /* Dark blue background */
    color: #FFFFFF; /* White text */
  }
  
  .footer h5 {
    color: #35CE8D; /* Green color for headings */
    margin-bottom: 20px; /* Margin below headings */
  }
  
  .footer p {
    color: #FFFFFF; /* White text */
  }
  
  .footer-link {
    color: #FFFFFF; /* White text for links */
    text-decoration: none; /* Remove underline */
  }
  
  .footer-link:hover {
    color: #35CE8D; /* Green on hover */
  }
  
  .footer-divider {
    border-top: 1px solid #FFFFFF; /* White divider */
    margin: 20px 0; /* Margin around the divider */
  }
  