/* Global styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

h3, p {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Utility Classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
